# Entornos y dependencias
venv/
__pycache__/
.env

# Datos de la empresa (solo subimos el .gitkeep)
data/*
!data/.gitkeep

# Archivos temporales de compilación LaTeX
docs/memoria/*.aux
docs/memoria/*.log
docs/memoria/*.out
docs/memoria/*.toc
docs/memoria/*.bbl
docs/memoria/*.blg
docs/memoria/*.synctex.gz
docs/memoria/*.fls
docs/memoria/*.fdb_latexmk